#!/bin/sh

# broker
export BROKER_HOST="localhost"
export BROKER_USER="guest"
export BROKER_PASSWORD="guest"
export BROKER_HA_PUBLISH="amqp://$BROKER_USER:$BROKER_PASSWORD@$BROKER_HOST:5672"
export BROKER_HA_CONSUME="amqp://$BROKER_USER:$BROKER_PASSWORD@$BROKER_HOST:5672,amqp://$BROKER_USER:$BROKER_PASSWORD@$BROKER_HOST:5672"

# context
export CONTEXT_BLOCKING_DELETE=false
export CONTEXT_FRAG_LIMIT=0.5
export CONTEXT_SLACK=50
export CONTEXT_TTL_SHORT=86400
export CONTEXT_TTL_LONG=1209600
export CONTEXT_NUMBUCKETS_SHORT=96
export CONTEXT_NUMBUCKETS_LONG=1344

# mysql
export DB_SKETCHY_MASTER_HOST="127.0.0.1"
export DB_SKETCHY_MASTER_NAME=sketchy
export DB_SKETCHY_MASTER_USER=sketchy_rw
export DB_SKETCHY_MASTER_PASSWORD=

export DB_SKETCHY_SLAVE_HOST="127.0.0.1"
export DB_SKETCHY_SLAVE_NAME=sketchy
export DB_SKETCHY_SLAVE_USER=sketchy_ro
export DB_SKETCHY_SLAVE_PASSWORD=

# memcached
export MEMORY_HOSTS="127.0.0.1:11211,127.0.0.1:11212"

# junk model
export MODEL_JUNK_PATH=./example/src/test/resources/fixtures/model/junk.nak

# reporting exceptions
export EXCEPTIONS_RECIPIENT="a@example.com"
export EXCEPTIONS_SENDER="b@example.com"
